<template>
  <q-page class="q-py-md q-px-md">
    <h1 class="text-h2 q-mt-none">Back-end</h1>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-md-6" v-for="(c, k) in conhecimentos" :key="k">
        <q-avatar size="50px" font-size="32px" color="green" text-color="white" :icon="c.icon ? c.icon : 'code'" class="q-mr-sm" />{{c.name}}
        <q-linear-progress :value="c.xp" class="q-mt-md" />
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageBackEnd',
  data () {
    return {
      conhecimentos: [
        {
          name: 'PHP',
          xp: 1
        },
        {
          name: 'MySQL',
          xp: 0.95
        },
        {
          name: 'Wordpress',
          xp: 0.9
        },
        {
          name: 'Python',
          xp: 0.8
        },
        {
          name: 'Node',
          xp: 0.75
        }
      ]
    }
  }
}
</script>
