<template>
  <q-page class="q-py-md q-px-md">
    <h1 class="text-h2 q-mt-none">Front-end</h1>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-md-6" v-for="(c, k) in conhecimentos" :key="k">
        <q-avatar size="50px" font-size="32px" color="green" text-color="white" :icon="c.icon ? c.icon : 'code'" class="q-mr-sm" />{{c.name}}
        <q-linear-progress :value="c.xp" class="q-mt-md" />
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageFrontEnd',
  data () {
    return {
      conhecimentos: [
        {
          name: 'HTML',
          xp: 1
        },
        {
          name: 'CSS',
          xp: 0.95
        },
        {
          name: 'JS',
          xp: 0.9
        },
        {
          name: 'Bootstrap',
          xp: 0.85
        },
        {
          name: 'jQuery',
          xp: 0.85
        },
        {
          name: 'Lodash',
          xp: 0.7
        },
        {
          name: 'VueJs',
          xp: 0.6
        },
        {
          name: 'React',
          xp: 0.4
        }
      ]
    }
  }
}
</script>
