<template>
  <q-page class="q-py-md q-px-md">
    <h1 class="text-h2 q-mt-none">Trabalhos</h1>
    <div class="row items-start q-col-gutter-md">
      <div class="col-12 col-md-6" v-for="(c, k) in trabalhos" :key="k">
        <q-carousel
          animated
          v-model="c.slide"
          :arrows="c.img.length > 1"
          infinite
          swipeable
          :fullscreen.sync="c.fullscreen"
        >
          <q-carousel-slide :name="i" :img-src="car" v-for="(car,i) in c.img" :key="i">
            <div class="absolute-bottom custom-caption">
              <div class="text-h5" v-if="c.title">{{c.title}}</div>
              <div class="text-subtitle1" v-if="c.subtitle">{{c.subtitle}}</div>
            </div>
          </q-carousel-slide>
          <template v-slot:control>
            <q-carousel-control
              position="bottom-right"
              :offset="[18, 18]"
            >
              <q-btn
                push round dense color="white" text-color="primary"
                :icon="c.fullscreen ? 'fullscreen_exit' : 'fullscreen'"
                @click="c.fullscreen = !c.fullscreen"
              />
            </q-carousel-control>
          </template>
        </q-carousel>
      </div>
    </div>
  </q-page>
</template>

<style lang="stylus" scoped>
.custom-caption {
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)
}
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      trabalhos: [
        {
          title: 'Tema wordpress',
          subtitle: 'Tema completo, com woocommerce',
          fullscreen: false,
          slide: 0,
          img: ['statics/images/trabalhos/vindouros-home.png', 'statics/images/trabalhos/vindouros-editora.png']
        }
      ]
    }
  }
}
</script>
