<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Thomasflx
        </q-toolbar-title>

        <div>Brasileiro, {{ idade }} anos</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item clickable to="/" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
            <q-item-label caption>Trabalhos</q-item-label>
          </q-item-section>
        </q-item>
        <q-item-label header>Conhecimentos</q-item-label>
        <q-item clickable to="/front-end">
          <q-item-section avatar>
            <q-icon name="devices" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Front-end</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/back-end">
          <q-item-section avatar>
            <q-icon name="code" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Back-end</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  computed: {
    idade () {
      var diff = Date.now() - new Date(1994, 5, 29)
      var age = new Date(diff)

      return Math.abs(age.getUTCFullYear() - 1970)
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
